*.MAC text eol=crlf
*.PRN text eol=crlf
*.DOK text eol=crlf
*.BIN binary
MONI1088.MAC linguist-language=Assembly linguist-detectable
MONI1088.PRN linguist-generated
MONI1088.DOK linguist-documentation
EPROM/* linguist-generated
